/* AsciiDoc modifications */



/* Description lists */

.dlist {
  color: var(--body-font-color);
  font-size: var(--body-font-size);
}

.dlist dt {
  margin-bottom: calc(8 * var(--rem-base));
}

.dlist p {
  padding-left: 1rem;
}

.hdlist1 {
  font-size: var(--body-font-size);
  font-weight: bold;
  vertical-align:text-bottom;
}

.hdlist2 {
    vertical-align:text-bottom;
}

/* Unordered lists */

.col-md-8.mx-auto > .ulist {
  margin-bottom: var(--list-top-level-margin-bottom);
}


.ulist {
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  padding-left: 1rem;
}

.ulist:not(.none, .checklist) > ul {
  list-style-type: disc;
}

/*
.ulist > ul.none {
  list-style-type: none;
}
*/

.ulist:not(.none, .checklist) > ul ul {
  list-style-type: circle;
}

.ulist:not(.none, .checklist) > ul ul ul {
  list-style-type: square;
}

.ulist p {
  margin-bottom: var(--li-margin-bottom);
}

/* Ordered lists */

.col-md-8.mx-auto > .olist {
  margin-bottom: var(--list-top-level-margin-bottom);
}

.olist {
  color: var(--body-font-color);
  padding-left: 1rem;
}

ol.arabic {
  list-style-type: arabic;
}

ol.loweralpha {
  list-style-type: lower-alpha;
}

ol.lowerroman {
  list-style-type: lower-roman;
}

ol.arabic li::marker {
  color: inherit;
  font-size: var(--body-font-size);
}

.olist p {
  margin-bottom: var(--li-margin-bottom);
}

/* Admonitions */

.admonitionblock {
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  padding-bottom: calc(24 * var(--rem-base));
  vertical-align: middle;
}

.admonitionblock .content {
  border-left: 2px solid var(--color-brand-2nd);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  line-height: var(--body-line-height);
  padding-left: 0.5rem;
}

.admonitionblock table {
  border-collapse: separate;
}

.admonitionblock td.icon {
  padding-right: 0.5rem;
}

.admonitionblock .title {
  color: var(--color-brand-2nd);
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

.admonitionblock.important .title {
  color: var(--color-brand-3rd);
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}

.admonitionblock .paragraph:last-child p {
  margin-bottom: 0;
}

/* Listing blocks */

pre.rouge {
  background-color: inherit;
}

.listingblock {


}

.listingblock .title {
  text-align: left;
  font-size: var(--body-font-size-smaller);
  color: var(--color-gray-30);
  padding-bottom: calc(8 * var(--rem-base));
}

.listingblock .content {
  background-color: var(--bg-color-listingblock);
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  vertical-align: middle;
}

/* Quote block */

.quoteblock {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: italic;
}

.quoteblock blockquote div.paragraph:first-of-type p::before {
  content: open-quote;
  color: var(--color-brand-6th);
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.1em;
  vertical-align: -0.45em;
}

.quoteblock blockquote p {
  line-height: var(--body-line-height);
  padding-left: 0;
  font-size: var(--body-font-size-smaller);
}

.quoteblock em {
  font-style:normal;
}

.quoteblock div.attribution {
  color: var(--color-gray-30);
  text-align: right;
}


/* Sidebars */

.sidebarblock {
  background-color: var(--color-brand-7th);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.sidebarblock .title {
  color: var(--color-brand-2nd);
  font-size: calc(24 * var(--rem-base));
  font-weight: bold;
  padding-top: calc(8 * var(--rem-base));;
  padding-bottom: calc(18 * var(--rem-base));
}

/* Tables */

table.tableblock {
  margin-bottom: 1rem;
  border: 1px solid var(--color-smoke-90);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
}

.tableblock.frame-ends {
  border-left-style: hidden;
  border-right-style: hidden;
}

.tableblock.frame-sides {
  border-top-style: hidden;
  border-bottom-style: hidden;
}

.tableblock.frame-none {
  border-style: hidden;
}


.tableblock th,
.tableblock td {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

/*
.tableblock th {
  background-color: var(--color-brand-5th);
} */

.tableblock.grid-rows th,
.tableblock.grid-rows td {
  border-top: 1px solid var(--color-smoke-90);
  border-bottom: 1px solid var(--color-smoke-90);
}

.tableblock.grid-cols th,
.tableblock.grid-cols td {
  border-left: 1px solid var(--color-smoke-90);
  border-right: 1px solid var(--color-smoke-90);
}

.tableblock.grid-all th,
.tableblock.grid-all td {
  border: 1px solid var(--color-smoke-90);
}

.tableblock .title {
  font-size: var(--body-font-size-smaller);
  text-align: left;
  caption-side: top;
  padding-bottom: calc(8 * var(--rem-base));
}

p.tableblock,
th.tableblock {
  margin-bottom: 0;
}

.halign-center {
  text-align: center;
}

.halign-left {
  text-align: left;
}

.halign-right {
  text-align: right;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top;
}
