// ############ Vars ############

$li-margin-bottom: 0.5rem;
$list-top-level-margin-bottom: 1rem;


// Overrides of the Airspace template


.slider .block p {
    color: $text-light;
}


// ############ AsciiDoc-specific overrides ############


.post-content p {
    line-height: 0.5rem; /* Appears to have no effect */
    margin-bottom: 16 * $rem-base;
    }

// Admonition block

.admonitionblock {
    padding-bottom: 24 * $rem-base;
    vertical-align: middle;
    font-size: $font-size;

    table {
        border-collapse: separate;
    }

    .content {
        border-bottom-left-radius: 0.5rem;
        border-left: 2px solid $color-brand-1;
        border-top-left-radius: 0.5rem;
        padding-left: 0.5rem;        
    }

    td.icon {
        padding-right: 0.5rem;
    }

    .title {
        color: $color-brand-1;
        display: inline;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.important .title {
        color: darkred;
    }

    .paragraph:last-child p {
        margin-bottom: 0;
    }
}

// Images

.imageblock {
    margin-bottom: 24 * $rem-base;

    .title {
        color: $text-light;
        font-size: $font-size-small;
        padding-top: 8 * $rem-base;
    }
}

// Listingblock



.listingblock {

    .title {
        color: $text-light;
        font-size: $font-size-small;
        padding-bottom: 8 * $rem-base;
        padding-top: 0;
    }


}

.colist {
    margin-top: -8 *$rem-base;

    li::marker {
         font-size: $font-size;
    }
}


// Lists 

// Description list

.dlist {

    dt {
        margin-bottom: 8 * $rem-base;
    }

    p {
        padding-left: 1rem;
    }
}

.hdlist1 {
    font-weight: bold;
    vertical-align: text-bottom;
}

.hdlist2 {
    vertical-align: text-bottom;
}


// Unordered list


.ulist {

    &:not(.none, .checklist) > {
        ul {
            list-style-type: disc;
            margin-bottom: 0;
        }
        ul ul {
            list-style-type: circle;
            margin-bottom: 0
            }
        ul ul ul {
            list-style-type: square;
            margin-bottom: 0;
            }
    }

    p {
        margin-bottom: 0;
    }
}

.post-content > .ulist {
    margin-bottom: $list-top-level-margin-bottom;
    color: red;
}



// Quoteblock

.quoteblock {
    font-style: italic;
    margin-bottom: 24 * $rem-base;
    
    blockquote {
        border-left-style: hidden;
        margin-bottom: 0;



        // Quotation mark decoration 
        div.paragraph:first-of-type p::before {
            color: lighten( $light, 15);
            content: open-quote;
            font-size: 48 * $rem-base;
            line-height: 0em;
            margin-right: 0.1em;
            vertical-align: -18 * $rem-base;            
        } 
    }


    em {
        font-style: normal;
    }

    .attribution{
        font-size: smaller;
        font-style: italic;
        text-align: right;
    }
}

// Sidebar

.sidebarblock {
    background-color: lighten( $light, 25);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 8 * $rem-base;
    padding-bottom: 5 * $rem-base;
    margin-bottom: 16 * $rem-base;
    border-radius: 0.5rem;
    
    .title {
        color: $color-brand-1;
        font-size: 24 * $rem-base;
        font-weight: bold;
        padding-top: 8 * $rem-base;
        padding-bottom: 18 * $rem-base;
        text-align: center;
    }
}


// Tables

table.tableblock {
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    color: $text-color;
    font-size: $font-size;

    &.frame-ends {
        border-left-style: hidden;
        border-right-style: hidden;        
    }

    &.frame-sides {
        border-top-style: hidden;
        border-bottom-style: hidden;
    }

    &.frame-none {
        border-style: hidden;
    }

    th,
    td {
        padding-bottom: 0.4rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-top: 0.4rem;      
    }

    /*
    th {
        background-color: $light);
    } */

    &.grid-rows {
        th,
        td {
            border-bottom: 1px solid $border-color;
            border-top: 1px solid $border-color;
        }
    }

    &.grid-cols {
        th,
        td {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
        }
    }

    &.grid-all {
        th,
        td {
            border: 1px solid $border-color;
        }
    }

    .title {
        caption-side: top;
        color: $text-light;
        font-size: $font-size-small;
        padding-bottom: 8 * $rem-base;
        text-align: left;        
      }
  

}

p.tableblock,
th.tableblock {
    margin-bottom: 0;
}
  
.halign-center {
    text-align: center;
}
  
.halign-left {
    text-align: left;
}
  
.halign-right {
    text-align: right;
}
  
.valign-bottom {
    vertical-align: bottom;
}
  
.valign-middle {
    vertical-align: middle;
}
  
.valign-top {
    vertical-align: top;
}

