:root {
  /* Basic shades */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;

  /* interlocquio colours */

  /* ~ Japanese indigo: */
  --color-brand-1st: #044354;
  /* ~ UP Forest green: */
  --color-brand-2nd: #1D3D04;
  /* ~ Vermilion */
  --color-brand-3rd: #D8340E;
  /* ~ Ochre */
  --color-brand-4th: #C97E12;
  /* ~ Tana (light green) */
  --color-brand-5th: #D5E0C7;
  /* ~ Pale acqua */
  --color-brand-6th: #B3CACE;
  /* ~ Oyster pink */
  --color-brand-7th: #E8CFCA;
  /* ~ White smoke */
  --color-brand-8th: #EDEFEC;
  /* Pitch */
  --color-brand-9th: #011104;
  /* ~ Palest acqua */
  --color-brand-10th: #E0E9EB;


  /* fonts */
  --rem-base: calc(1rem / 16); /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: calc(18 * var(--rem-base)); /* 17px */
  --body-font-size-smaller: calc(16 * var(--rem-base));
  --body-line-height: calc(24 * var(--rem-base));
  --body-line-height-single-spacing: calc(16 * var(--rem-base));
  --body-font-color: var(--color-jet-20);
  --body-font-color-light: var(--color-gray-10);
  --body-font-family: "Rosario", sans-serif;
  --body-font-weight-bold: 700;

  --heading-font-color: var(--color-jet-80);
  --heading-font-family: "Rosario", san-serif;
  --heading-font-family-weight: 700;

  --heading-h1-font-color: var(--color-brand-1st);
  --heading-h2-font-color: var(--color-brand-2nd);
  --heading-h2-font-color-light: var(--color-smoke-70);
  --heading-h3-font-color: var(--color-brand-3rd);
  --heading-h3-font-color-light: var(--color-smoke-70);
  --heading-h4-font-color: var(--color-brand-4th);

  --heading-h1-font-size: calc(48 * var(--rem-base));
  --heading-h2-font-size: calc(36 * var(--rem-base));
  --heading-h2-font-size-hero-area: calc(48 * var(--rem-base));
  --heading-h3-font-size: calc(24 * var(--rem-base));
  --heading-h4-font-size: calc(14 * var(--rem-base));

  --li-margin-bottom: 0.5rem;
  --list-top-level-margin-bottom: 1rem;

  --title-paragraph-font-color: var(--body-font-color);


  --link-font-color: #1565c0; /* Don't use */
  --link-font-color-hover: var(--color-brand-3rd);
  --navbar-font-color: var(--color-smoke-90);

    /* Section background colors */

  --bg-color-header-navigation: var(--color-brand-1st);
  --bg-color-sect-hero: var(--color-brand-8th);
  --bg-color-sect-about-2: var(--color-brand-2nd);
  --bg-color-sect-services-xs: var(--color-brand-8th);
  --bg-color-sect-about-sm: var(--color-brand-6th);
  --bg-color-sect-service-2: var(--color-brand-8th);
  --bg-color-sect-portfolio: var(--color-brand-7th);
  --bg-color-sect-team: var(--color-brand-8th);
  --bg-color-sect-testimonial: var(--color-brand-1st);
  --bg-color-sect-blog: var(--color-brand-8th);
  --bg-color-sect-contact-us: var(--color-brand-5th);
  --bg-color-footer-top: var(--color-brand-2nd);
  --bg-color-footer-bottom: var(--color-brand-9th);

  --bg-color-listingblock: var(--color-brand-10th);

  /* Section title font colors */

  --title-color-header-navigation: var(--body-font-color-light);
  --title-color-sect-hero: var(--body-font-color);
  --title-color-sect-about-2: var(--color-brand-3rd);
  --title-color-sect-services-xs: var(--body-font-color);
  --title-color-sect-about-sm: var(--body-font-color);
  --title-color-sect-service-2: var(--body-font-color);
  --title-color-sect-portfolio: var(--body-font-color);
  --title-color-sect-team: var(--body-font-color);
  --title-color-sect-testimonial: var(--body-font-color-light);
  --title-color-sect-blog: var(--body-font-color);
  --title-color-sect-contact-us: var(--body-font-color);
  --title-color-footer-top: var(--body-font-color-light);
  --title-color-footer-bottom: var(--body-font-color-light);

  /* Section body font colors */

  --font-color-header-navigation: var(--body-font-color-light);
  --font-color-sect-hero: var(--body-font-color);
  --font-color-sect-about-2: var(--body-font-color-light);
  --font-color-sect-services-xs: var(--body-font-color);
  --font-color-sect-about-sm: var(--body-font-color);
  --font-color-sect-service-2: red;
  --font-color-sect-portfolio: var(--body-font-color);
  --font-color-sect-team: var(--body-font-color);
  --font-color-sect-testimonial: var(--body-font-color-light);
  --font-color-sect-blog: var(--body-font-color);
  --font-color-sect-contact-us: var(--body-font-color);
  --font-color-footer-top: var(--body-font-color-light);
  --font-color-footer-bottom: var(--body-font-color-light);



}
