// Color Variables

/* Basic shades */
$white: #fff;
$color-smoke-10: #fefefe;
$color-smoke-30: #fafafa;
$color-smoke-50: #f5f5f5;
$color-smoke-70: #f0f0f0;
$color-smoke-90: #e1e1e1;
$color-gray-10: #c1c1c1;
$color-gray-30: #8e8e8e;
$color-gray-50: #808080;
$color-gray-70: #5d5d5d;
$color-jet-20: #4a4a4a;
$color-jet-30: #424242;
$color-jet-50: #333;
$color-jet-70: #222;
$color-jet-80: #191919;
$black: #000;


$color-brand-1: #044354;
$color-brand-2: #BCA3A5;
$color-brand-3: #D8340E;
$body-color: #fff; /* May not be needed */
$light: #9DA9AF;
$dark: #474747;

// Text colors
$text-color: $color-gray-70;
$text-dark: $color-jet-70;
$text-light: $color-gray-50; // Suitable for light backgrounds
$text-lighter: $color-smoke-70; // Suitable for dark backgrounds

// UI element colors
$body-bg: $white;
$border-color: #B3CACE;
$navbar-bg: $white;
$a-hover-color: $color-brand-3;
$a-hover-color-light: lighten($a-hover-color, 30%);
$bg-gray: $light;
$bg-primary: $color-brand-1;
$bg-primary-dark:darken($color-brand-1, 10%);
$bg-primary-darker: darken($color-brand-1, 20%);
$bg-dark: $color-jet-80;

// Set rem

/*
html {
    font-size: 16px;
}
*/

// Font Variables

//$font-scale: "1.25"; // Not clear if this used
$rem-base: (1rem / 10); // If rem-base divisor is equal to rem size, then all values equate to px
$font-size: (16 * $rem-base);
$font-size-small: (14 * $rem-base);
$font-size-smaller: (12 * $rem-base);
$font-size-smallest: (10 * $rem-base);
$font-size-big: (18 * $rem-base);
$font-size-bigger: (20 * $rem-base);
$h1: (40 * $rem-base);
$h1-md: (34 * $rem-base);
$h2: (28 * $rem-base);
$h2-md: (26 * $rem-base);
$h2-sm: (22 * $rem-base);
$h3: (20 * $rem-base);
$h4: (18 * $rem-base);
$line-height-small: 1.1em;
$line-height-base: 1.4em;
$line-height-big: 1.7em;
$line-height-bigger: 2em;
