.about{
  .block{
    h2 {
      padding-top: 30 * $rem-base;
      padding-bottom: 30 * $rem-base;
      margin:0;
    }

    p {
      padding-top: 0 * $rem-base;
      line-height: 28 * $rem-base;
    }

    img {
      width: 100%;
    }
  }

  .about-img {
    overflow:hidden;

    &:hover img {
      transform: scale3D(1.1,1.1,1);
    }

    img {
      opacity: .6;
      @include transition (all, 0.5s, ease-out);
    }
  }

  .section-title {
    margin-bottom: 0 * $rem-base;
  }
}
