.widget {
  margin-bottom: 65 *  $rem-base;

  @include tablet {
    margin-bottom: 35px;
  }

  .widget-title {
    margin-top: 0 * $rem-base;
    margin-bottom: 16 * $rem-base;
    font-size: $font-size;
    color: $text-color;    
    border-bottom: 1px solid $border-color;
  }

  // Latest Posts
  &.widget-latest-post {
    .media {
      .media-object {
        width: 100px;
        height: auto;
      }

      .media-heading {
        a {
          color: $text-dark;
          font-size: $font-size;
        }
      }

      p {
        font-size: $font-size-smaller;                
      }
    }

    @include desktop {
      padding-top: 20 * $rem-base;
    }
  }
  //end Latest Posts

  // Categories
  &.widget-category {
    ul {
      li {
        padding-top: 30 * $rem-base;
        padding-bottom: 10 * $rem-base;

        a {
          color: lighten( $black, 50.3 );
          padding: 10 * $rem-base;
          padding-left: 20 * $rem-base;
          padding-right: 20 * $rem-base;
          @include transition-multi (padding 0.3s ease, border 0.3s ease);

          &:before {
            padding-right: 10 * $rem-base;
          }

          &:hover {
            color: $color-primary;
            padding-left: 24 * $rem-base;
          }

          &:active {
            padding-left: 24 * $rem-base;
            border: 1px solid $color-primary;
            border-radius: 30 * $rem-base;
            @include transition (padding, 0s);
          }
        }

        a.current {
          color: $white;
          background: $color-primary;
          border: 1px solid $color-primary;
          border-radius: 30 * $rem-base;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
  // end Categories

  // Tags
  &.widget-tag {
    ul {
      li {
        margin-bottom: 10 * $rem-base;
        display: inline-block;
        margin-right: 5 * $rem-base;

        a {
          color: $text-light;
          display: inline-block;
          padding: (8 * $rem-base) (15 * $rem-base);
          border: 1px solid $border-color;
          border-radius: 30 * $rem-base;
          font-size: $font-size-small;
          @include transition-multi (background-color 0.3s ease, border 0.3s ease, color 0.1s ease);

          &:hover {
            color: $color-primary;
            background: rgba($color-primary, 0.3);
            border: 1px solid rgba($color-primary, 0.3);
          }

          &:active {
            color: $color-primary;
            border: 1px solid $color-primary;
            background: $white;
            @include transition (background-color, 0.1s, ease);
          }
        }

        a.current {
          color: $white;
          background: $color-primary;
          border: 1px solid $color-primary;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }
  // end Tags
}
