.call-to-action {
  text-align: center;
  padding: (70 * $rem-base) (0 * $rem-base);

  @include tablet {
    padding-top: (20 * $rem-base);
    padding-bottom: (20 * $rem-base);
  }

  h2 {
    color: $color-text-lighter;
    margin: 0;
    padding: (30 * $rem-base) 0;
  }

  p {
    color: $color-text-lighter;
  }

  .btn-main {
    padding: (15 * $rem-base) (35 * $rem-base);
    font-size: $font-size-smaller;
    margin-top: (30 * $rem-base);
    margin-bottom: (30 * $rem-base);
  }
}
