.call-to-action {
  text-align: center;
  padding: (70 * $rem-base) (0 * $rem-base);

  @include tablet {
    padding-top: 20 * $rem-base;
    padding-bottom: 20 * $rem-base;
  }

  h2 {
    color: $text-light;
    margin: 0 * $rem-base;
    padding: (30 * $rem-base) (0 * $rem-base);
  }

  p {
    color: $text-light;
  }

  .btn-main {
    padding: (15 * $rem-base) (35 * $rem-base);
    font-size: $font-size-smaller;
    margin-top: 30 * $rem-base;
    margin-bottom: 30 * $rem-base;
  }
}
