.contact-form {
  padding-top: 70 * $rem-base;
  padding-bottom: 35 * $rem-base;

  .block {
    .form-group {
      padding-bottom: 15 * $rem-base;
      margin: 0 * $rem-base;

      .form-control {
        background: $light;
        height: 60 * $rem-base;
        border: 1px solid $white;
        box-shadow: none;
        width: 100%;
      }
    }

    input.form-control {
        background-color: purple; // This is being overridden somewhere
      }
    

    .form-group-2 {
      margin-bottom: 13px;

      textarea {
        background: $light;
        height: 135 * $rem-base;
        border: 1px solid $white;
        box-shadow: none;
        width: 100%;
      }
    }

    .form-group-h {
      display: none;
    }

    button {
      width: 100%;
      height: 60 * $rem-base;
      background: $dark;
      border: none;
      color: $white;
      font-size: $font-size-big;
    }

    
  }
}


.address-block {
  margin-bottom: 40 * $rem-base;

  li {
    color: $text-color;
    position: relative;
    padding-left: 30 * $rem-base;
    margin-bottom: 10 * $rem-base;

    i {
      position: absolute;
      left: 0;
      font-size: $h3;
      line-height: 20 * $rem-base;      
    }

    div {
      display: inline-block;
      vertical-align: top;
    }
  }
}


.social-icons {
  margin-top: 40 * $rem-base;

  li {
    display: inline-block;
    margin: (0 * $rem-base) (6 * $rem-base);
  }

  a {
    display: inline-block;
  }

  i {
    color: $text-color;
    margin-right: 25 * $rem-base;
    font-size: 25 * $rem-base;
  }
}

.google-map {
  position: relative;
}

.google-map .map {
  width: 100%;
  height: 300px;
}

.contact-box {
  padding-top: 35 * $rem-base;
  padding-bottom: 60 * $rem-base;

  .block {
    img {
      width: 100%;
    }

    h2 {
      font-weight: normal;
      color: $black;
      font-size: $h2;
      padding-bottom: 30 * $rem-base;
    }

    p {
      color: $text-dark;
      display: block;
    }

  }
}
