/*=================================================================
  Item counter section
==================================================================*/

.counter {
  padding: (100 * $rem-baseS) 0;

  .counter-title {
    margin-bottom: (50 * $rem-base);


    h2 {
      color: $black;
      margin-bottom: (20 * $rem-base);
      font-size: $h1;
      font-weight: bold;
      line-height: (35 * $rem-base);
    }

    p {
      color: lighten( $black, 33.3 );
      font-size: $font-size;
    }
  }
}

.counters-item {
  padding-bottom: (30 * $rem-base);
  color: lighten( $black, 26.6 );
  position: relative;

  &.kill-border:before {
    background: none;
  }

  &:before {
    background: darken( $color-bg-light, 7.843137254901947);
    content: "";
    margin-top: -27.5px;
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
  }

  >div {
    margin: (6 * $rem-base) 0;
  }

  span {
    display: inline;
    font-size: (35 * $rem-base);
    line-height: (50 * $rem-base);
  }

  i {
    font-size: (40 * $rem-base);
    display: inline-block;
    color: $color-brand-1;
  }

  h3 {
    font-size: $h4;
    margin: 0;
  }
}
