.feature {
  background: url("../img/feature-bg.jpg");
  background-position: 50% (94 * $rem-base);
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: (100 * $rem-base) (0 * $rem-base);

  @include large-desktop {
    padding-top: (20 * $rem-base);
    padding-bottom: (20 * $rem-base);
    background-attachment: unset;
  }

  &.bg-2 div.col-md-6 {
    margin: auto;
    max-width: 75vw;
    background-color: $color-bg-light;
    border-radius: (16 * $rem-base);
    opacity: 0.9;
  }

  h2 {
    margin-top: (30 * $rem-base);
    margin-bottom: (20 * $rem-base);
  }

  p {
    font-size: $font-size-big;
    color: $color-text-dark;
    margin-bottom: $margin-p-v;
  }

  .btn-view-works {
    background: $color-gray-70;
    color: $white;
    padding: (10 * $rem-base) (20 * $rem-base);
    margin-bottom: (30 * $rem-base);
    margin-top: (10 * $rem-base)
  }
}

