.footer {
  background: $light;
  min-height: 205 * $rem-base;
  text-align: center;
  padding-top: 67 * $rem-base;
  p {
    font-size: $font-size-small;
    line-height: 24 * $rem-base;
    color: $text-dark;
  }
  a {
    color: $text-dark;
  }
  .footer-menu {
    padding-bottom: 25 * $rem-base;
    ul {
      margin: 0 * $rem-base;
      padding: 0 * $rem-base;
      li {
        display: inline-block;
        padding: (0 * $rem-base) (20 * $rem-base);
        a {
          display: inline-block;
          color: $text-dark;
          &:hover {
            color: $color-brand-3;
          }
        }
      }
    }
  }
  .copyright {
    a {
      font-weight: normal;
    }
  }
}
