.footer {
  background: $color-bg-light;
  min-height: (205 * $rem-base);
  text-align: center;
  padding-top: (67 * $rem-base);
  p {
    font-size: $font-size-small;
    line-height: $line-height-base;
    color: $color-text-dark;
  }
  a {
    color: $color-text-dark;
    &:hover {
      color: $color-a-hover;
    }
  }
  .footer-menu {
    padding-bottom: (25 * $rem-base);
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 0 (20 * $rem-base);
        a {
          display: inline-block;
          color: $color-text-dark;
          &:hover {
            color: $color-a-hover;
          }
        }
      }
    }
  }
  .copyright {
    a {
      font-weight: normal;
    }
  }
}
