/*--
  Header Start
--*/

header {
  min-height: (100 * $rem-base);
  @include desktop {
    min-height: (90 * $rem-base);
  }
  background: $color-bg-navbar;
  padding: (20 * $rem-base) 0;
  .navbar {
    margin-bottom: 0;
    border: 0px;
  }
  .navbar-brand {
    padding-top: (5 * $rem-base);
  }
  .navbar-default {
    background: none;
    border: 0px;
    .navbar-nav {
        padding-top: (10 * $rem-base);
      li {
        a {
          color: $color-text-base;
          padding: (10 * $rem-base) (26 * $rem-base);
          font-size: $font-size;
          font
          &:hover {
            color: $color-a-hover;
          }
        }
      }
    }
  }
}
