.navigation {
  background: $color-bg-navbar;
  padding: (20 * $rem-base) 0;

  .navbar {
    margin-bottom: 0;
    border: 0;
  }

  .navbar-brand {
    padding-top: (5 * $rem-base);
  }

  .navbar {
    background: none;
    border: 0;

    .navbar-nav {
      padding-top: (10 * $rem-base);

      a {
        color: $color-text-base;
        padding: (10 * $rem-base) (15 * $rem-base);

        font : {
          size: $font-size-small;
        }

        text-transform:uppercase;

        &:hover,
        &:focus {
          color: $color-a-hover;
          background: transparent;
        }
      }

      a.current {
        color: $color-text-dark;
        pointer-events: none;
        cursor: default;
      }

      a.current-parent {
        color: $color-text-dark;
      }

      select {
        margin: (10 * $rem-base) (15 * $rem-base);
      }
    }

    .current > .dropdown-toggle {
      color: $color-text-dark;
    }

    .dropdown-menu {
      border-radius: 0;
      border: none;
      left: (-5 * $rem-base);
      box-shadow: 0 0 (25 * $rem-base) 0 rgba(0, 0, 0, 0.08);

      a {
        text-transform: none;
        font-weight: normal;
        color: $color-text-base;
        padding: (10 * $rem-base) (20 * $rem-base);
        @include transition-multi (color 0.1s ease, padding 0.3s ease);

        &:hover {
          background: $color-brand-1;
          color: $color-text-light;
          padding-left: (25 * $rem-base);
        }
      }

      a.current {
        padding-left: (25 * $rem-base);
        color: $color-text-light;
        background: $color-brand-1;
      }
    }
  }
}

.nav .open>a {
  background: transparent;
}

// Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
@include desktop {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: (7.5 * $rem-base);
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: (10 * $rem-base);
    padding-bottom: (10 * $rem-base);
  }

  .collapse {
    clear: both;
  }

  .collapse.in {
    display: block !important;
  }
}
