.portfolio-work {
  padding: (80 * $rem-base) 0;

  .block {
    .portfolio-menu {
      text-align: center;

      .btn-group {
        margin-bottom: (40 * $rem-base);

        label {
          display: inline-block;
          border: 1px solid $border-color;
          padding: (8 * $rem-base) (25 * $rem-base);
          cursor: pointer;
          font-size: $font-size;
          color: $text-color;
          outline: 0;
          background: $white;
          margin: (2 * $rem-base);
          border-radius: 0;
          @include transition (all, 0.3s, ease);
        }
      }
    }
  }
}

.portfolio {
  &-item {
    position: relative;
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      .portfolio-hover {
        visibility: visible;
        opacity: 1;
      }

      .portfolio-content {
        transform: translateY(-50%);
      }
    }
  }

  &-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(60, 55, 55, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
  }

  &-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
    text-align: center;
    padding: (20 * $rem-base);
    transition: inherit;

    * {
      color: $white;
    }

    a {
      display: block;
      transition: .2s ease;

      i {
        font-size: 30px;
      }

      &.h3 {
        margin-top: 0;
      }
    }
  }
}



// Portfolio Single Page
.portfolio-single-page {
  .project-details {
    h4 {
      margin-bottom: (20 * $rem-base);
      padding-bottom: (10 * $rem-base);
      border-bottom: 2px dashed $border-color;
    }

    span {
      color: $text-color;
      width: (180 * $rem-base); // Check - possibly use vw
      display: inline-block;
    }

    strong {
      color: $text-dark;
      font-weight: normal;
    }

    ul {
      font-size: $font-size-small;
      li {
        margin-bottom: (10 * $rem-base);
      }
    }
  }
}
