/*=================================================================
  Pricing section
==================================================================*/

.pricing-table {
  .pricing-item {
    padding: (40 * $rem-base) (20 * $rem-base);
    background: $white;
    box-shadow: 0 8px 15px 0 rgba(5, 57, 106, .06);

    a.btn-main {
      text-transform: uppercase;
      margin-top: (20 * $rem-base);
    }

    li {
      padding: (6 * $rem-base) 0;
      color: $text-color;
      font-size: $font-size;

      i {
        margin-right: (6 * $rem-base);
        color: $color-brand-1;
      }
    }
  }

  .price-title {
    padding: (30 * $rem-base) 0 (20 * $rem-base);

    >h3 {
      font-weight: bold;
      margin: 0 0 (5 * $rem-base);
      font-size: $font-size;
      text-transform: uppercase;
    }

    >p {
      line-height: (18 * $rem-base);
      margin-top: (6 * $rem-base);
    }

    .value {
      color: $color-brand-1;
      font-size: (50 * $rem-base);
      padding: (10 * $rem-base) 0;
    }
  }
}
