// Styles for the search field  , button and results page.
input#search-input {
    border: 1px solid $color-border;
    border-radius: 4 * $rem-base;
    color: $color-text-base;
    display: inline-flex;
    font-size: inherit;
    height: 2em;
    box-sizing: border-box;
    margin-top: (4 * $rem-base);
    padding: (4 * $rem-base) (6 * $rem-base);    
    vertical-align: text-top;    
}

input#search-button {
    background-color: $white;
    border: 1px solid $color-border;
    border-radius: 4 * $rem-base;
    color: $color-text-light;
    display: inline-flex;
    font-size: inherit;
    height: 2em;
    margin-top: (4 * $rem-base);
    padding: (4 * $rem-base) (6 * $rem-base);
    vertical-align: text-top;
    @include transition-multi (background-color 0.3s ease, border 0.3s ease, color 0.1s ease);

    &:hover {
        color: $color-brand-1;
        background: rgba($color-brand-1, 0.3);
        border: 1px solid rgba($color-brand-1, 0.3);
      }
    
    &:active {
    color: $color-brand-1;
    border: 1px solid $color-brand-1;
    background: $white;
    @include transition (background-color, 0.1s, ease);
    }



}

ul#results {
    li {
        color: $color-text-base;
        font-size: $font-size;
        margin-bottom: 2em;
        

        a {
            font-size: $font-size-bigger;            
        }
    }


} 