.service {
  text-align: center;
  padding: 90px 0;

  @include tablet {
    padding-top: (20 * $rem-base);
    padding-bottom: (20 * $rem-base);
  }

  .service-item {
    padding-bottom: (30 * $rem-base);

    i {
      font-size: 50px;
      color: $color-brand-1;
    }

    h4 {
      padding-top: (15 * $rem-base);
      margin: 0;
      margin-top: (10 * $rem-base);
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      padding-top: (10 * $rem-base);
      margin: 0;
    }
  }
}

.dark-service {
  .title {
    color: $text-lighter;
  }

  .service-item {
    padding-bottom: (30 * $rem-base);
    text-align: center;
    

    i {
      color: $text-lighter;
      font-size: (40 * $rem-base);
      margin-bottom: (10 * $rem-base);
    }

    h4 {
      color: $text-lighter;
      padding-top: (15 * $rem-base);
      margin: 0;
      margin-top: (10 * $rem-base);
      text-transform: uppercase;
    }

    p {
      color: $text-light;
      padding-top: (10 * $rem-base);
      margin: 0;
    }
  }
}

.service-about {
  p {
    line-height: $line-height-big;
  }
}





.service-arrow {
  .block {
    padding: 70px (30 * $rem-base);

    i {
      font-size: (40 * $rem-base);
    }

    p {
      color: $white;
    }
  }
}




.service-list {
  .block {
    padding: (30 * $rem-base);
    margin-bottom: (20 * $rem-base);
    background: $white;
  }
}
