/*=================================================================
  Single Blog Page
==================================================================*/
.post.post-single {
  border: none;
  margin-bottom: 0;

  .post-title {
    margin-top: 0;

    @include tablet {
      margin-top: (20 * $rem-base);
    }
  }

  .post-thumb {
    margin-top: (30 * $rem-base);
  }
}

.post-sub-heading {
  border-bottom: 1px solid $border-color;
  padding-bottom: (20 * $rem-base);
  letter-spacing: (2 * $rem-base);
  text-transform: uppercase;
  font-size: $font-size;
  margin-bottom: (20 * $rem-base);
}

.post-social-share {
  margin-bottom: (50 * $rem-base);
}

.post-comments {
  margin: (30 * $rem-base) 0;

  .media {
    margin-top: (20 * $rem-base);

    >.pull-left {
      padding-right: (20 * $rem-base);
    }
  }

  .comment-author {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;

    a {
      color: $color-brand-1;
      font-size: $font-size-small;
      text-transform: uppercase;
    }
  }

  time {
    margin: 0 0 (5 * $rem-base);
    display: inline-block;
    color: $text-color;
    font-size: $font-size-smaller;
  }

  .comment-button {
    color: $color-brand-1;
    display: inline-block;
    margin-left: (5 * $rem-base);
    font-size: $font-size-smaller;

    i {
      margin-right: (5 * $rem-base);
      display: inline-block;
    }

    &:hover {
      color: $color-brand-1;
    }
  }
}

.post-excerpt {
  h3 {
    a {
      color: $text-dark;
    }
  }

  p {
    margin: 0 0 (30 * $rem-base);
  }

  blockquote.quote-post {
    margin: (20 * $rem-base) 0;

    p {
      line-height: $line-height-big;
      font-size: $font-size-big;
      color: $color-brand-1;
    }
  }
}


.single-blog {
  background-color: $white;
  margin-bottom: (50 * $rem-base);
  padding: (20 * $rem-base);
}

.blog-subtitle {
  font-size: $font-size-small;
  padding-bottom: (10 * $rem-base);
  border-bottom: 1px solid $border-color;
  margin-bottom: (25 * $rem-base);
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin: (20 * $rem-base) 0;
  padding: (25 * $rem-base) 0;

  a {
    color: $black;

    &:hover {
      color: $a-hover-color;
    }
  }

  .prev-post i {
    margin-right: (10 * $rem-base);
  }

  .next-post i {
    margin-left: (10 * $rem-base);
  }
}

.social-profile {
  ul {
    li {
      margin: 0 (10 * $rem-base) 0 0;
      display: inline-block;

      a {
        color: lighten( $black, 33.92 );
        display: block;
        font-size: $font-size;

        i {
          &:hover {
            color: $color-brand-1;
          }
        }
      }
    }
  }
}

.comments-section {
  margin-top: (35 * $rem-base);
}


.author-about {
  margin-top: (40 * $rem-base);
}

.post-author {
  margin-right: (20 * $rem-base);
}

.post-author>img {
  border: 1px solid $border-color;
  max-width: (120 * $rem-base);
  padding: (5 * $rem-base);
  width: 100%;
}



.comment-list {
  ul {
    margin-top: (20 * $rem-base);

    li {
      margin-bottom: (20 * $rem-base);
    }
  }
}


.comment-wrap {
  border: 1px solid $border-color;
  border-radius: 1px;
  margin-left: (20 * $rem-base);
  padding: (10 * $rem-base);
  position: relative;

  .author-avatar {
    margin-right: (10 * $rem-base);
  }

  .media {
    .media-heading {
      font-size: $font-size-small;
      margin-bottom: (8 * $rem-base);

      a {
        color: $color-brand-1;
        font-size: $font-size-smaller;
      }
    }

    .comment-meta {
      font-size: $font-size-smaller;
      color: #888;
    }

    p {
      margin-top: (15 * $rem-base);
    }
  }

}


.comment-reply-form {
  margin-top: (80 * $rem-base);

  input,
  textarea {
    height: (35 * $rem-base);
    border-radius: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
      border: 1px solid $color-brand-1;
    }
  }

  textarea,
  .btn-main {
    height: auto;
  }
}
