/* Main slider on the home page */
.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 170px 0 200px;
  position: relative;
  @include large-desktop {
    background-attachment: unset;
    padding: 150px 0;
  }

  .block {
    color: $color-title-main;
    text-align: center;

    h1 {
      font-weight: 100;
      font-size: $h1-main-title;
      line-height: 1.33em;
      letter-spacing: 0.2em;
      padding-bottom: (15 * $rem-base);
      text-transform: uppercase;

      @include tablet {
        font-size: $h1-md;
      }

      @include mobile {
        font-size: $h2;
      }

      @include mobile-xs {
        font-size: $h2-md;
      }
    }

    p {
      margin-bottom: (30 * $rem-base);
      color: $color-text-lighter;
      font-size: $font-size-big;
      line-height: $line-height-big;


      @include mobile {
        font-size: $font-size-small;
      }
    }

    @include mobile {
      .btn {
        font-size: $font-size-smaller;
      }
    }
  }
}
