.testimonial {
  padding: (100 * $rem-base) 0;

  @include tablet {
    padding-top: (20 * $rem-base);
    padding-bottom: (20 * $rem-base);
  }

  .counter-box {
    li {
      width: 50%;
      float: left;
      text-align: center;
      margin: (30 * $rem-base) 0 (30 * $rem-base);

      @include tablet {
        margin-top: 0px;
      }
    }
  }

  .testimonial-carousel {
    border: 1px solid $color-border;
    padding: (24 * $rem-base);

    i {
      font-size: (35 * $rem-base);
      margin-bottom: (20 * $rem-base);
    }

    p {
      font-family: $font-secondary;
      line-height: $line-height-big;
      padding-bottom: (20 * $rem-base);
    }

    .user {
      img {
        padding-bottom: 0;
        border-radius: 100%;
        width: (90 * $rem-base);
        display: inline-block;
      }

      p {
        font-family: $font-primary;
        padding-bottom: 0;
        margin-top: (6 * $rem-base);
        font-size: $font-size-smaller;
        line-height: $line-height-base;

        span {
          display: block;
          color: $color-text-base;
          font-weight: bold;
        }
      }
    }

    // Not clear what this controls
    .owl-carousel .owl-pagination div {
      border: 1px solid #1D1D1D;
      border-radius: 500px;
      display: inline-block;
      height: (10 * $rem-base);
      margin-right: (15 * $rem-base);
      width: (10 * $rem-base);
    }

    // Not clear what this controls
    .owl-carousel .owl-pagination div.active {
      background: lighten( $black, 36.07);
      font-size: (30 * $rem-base);
      display: inline-block;
      border: 0;
    }
  }
}

.counter-box {
  i {
    font-size: (35 * $rem-base);
    margin-bottom: (15 * $rem-base);
  }

  h4 {
    font-size: $h2;
    font-weight: bold;
  }

  span {
    color: $color-text-dark;
  }
}
